.footer {
    color: var(--color-background);
    background-color: var(--color-secondary);
    font-size: var(--font-size-text-v1);
    background-image: url('assets/img/footer-bk.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    .footer-about{
        padding-bottom: 30px;
        align-items: end;
        display: flex;
        .logo {
            line-height: 0;
            margin-bottom: 25px;
          }
          
    }
    .border-b{
      border-bottom: 0.2px solid var(--color-background);
      margin-bottom: 20px;
  
    }
    .footer-top {
        padding-top: 50px;
      }
      .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
       background-color: #F11287;
        font-size: 16px;
        color: var(--color-background);
        margin-right: 10px;
        transition: 0.3s;
        transition: all .4s ease;
-webkit-transition: all .4s ease;
      }
      .social-links a:hover {
        background-color: var(--color-background);
        border-color: var(--color-background);
        transition: all .4s ease;
-webkit-transition: all .4s ease;
        i{
          color: #F11287;
          transition: all .4s ease;
-webkit-transition: all .4s ease;
        }
      }
      .footer-links{
        margin-bottom: 20px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 10px 0;
                display: flex;
                align-items: center;
              }
              a {
                color:var(--color-background);
                display: inline-block;
                line-height: 1;
              }
              a:hover {
                color: var(--color-primary);
              }
              li:first-child {
                padding-top: 0;
              }
              
          }
      } 
      
  }



 .copyright {
    padding-top:5px;
    padding-bottom:5px;
    background-color: var(--color-cr);
  }
  

  